{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load django_bootstrap5 %}

    <div class="mt-5">
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row form-group">
                        {% if field.label == "ユーザー名" %}
                        {% else %}
                            <label class="col-4 mt-2">{{ field.label }}{{ field.errors }}</label>
                        {% endif %}
                        <div class="col-8 mt-2">
                            {% if field.label == "ユーザー名" %}
                                <input id="id_user" type="text" name="user" class="form-control"
                                       value="{{ user.pk }}" hidden required="">
                                <input id="requestUserName" class="form-control"
                                       value="{{ user.username }}" hidden readonly>
                            {% else %}
                                {{ field }}
                                {{ upload_form.as_p }}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="text-danger">{{ field.help_text|safe }}</small>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-4"></div>
                    <div class="btn-toolbar mb-3 col-8">
                        {#                    <div class="col">#}
                        <input type="button" class="mx-2 btn btn-secondary" value="戻る"
                               onClick="javascript:history.go(-1);">
                        {#                    </div>#}
                        {#                    <div class="col">#}
                        <button class="mx-2 btn btn-outline-primary" type="submit">送信</button>
                        {#                    </div>#}
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}