{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if feellog.user == request.user %}
        <div class="cont mb-3">
        <h2 class="mb-0">
            {{ feellog.date }} {{ feellog.get_evaluation_display }}
        </h2>
        <div class="det">
        <div class="row mb-3">
            <div class="col-6">
                ジャンル：{{ feellog.food }}
            </div>
            <div class="col-6">
                メニュー：{{ feellog.food_menu }}
            </div>
        </div>
        {% if feellog.image %}
            <div class="">
                <img style="width:50%" src="{{ feellog.image.url }}">
            </div>
        {% endif %}
        <div>
            {{ feellog.comment }}
        </div>
    {% endif %}
</div>
</div>
    <div class="mb-2"><a href="{% url 'App:update_log' feellog.pk %}">→編集</a></div>
    <div>
        <input type="button" class="btn btn-secondary" value="戻る" onClick="javascript:history.go(-1);">
    </div>

{% endblock %}